<br>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid">

  <footer class="bg-dark text-center text-lg-start text-white py-1">
    <!-- Grid container -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <div class="col text-start d-flex align-items-center">
          <span class="text-white">© BUT Resto</span>
        </div>
        <div class="col text-center">
          <i class="fa-solid fa-burger fa-2x mb-2"></i>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </footer>
</div>
