
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><i class="fa-solid fa-burger"></i> BUT Resto</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarColor01" >
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menus">Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/types_plats">Type plats</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
